<div id="<%= dom_id message %>">
  <p>
    <strong>Subject:</strong>
    <%= message.subject %>
  </p>

  <p>
    <strong>From:</strong>
    <%= message.from %>
  </p>

  <pre><%= message.body %></pre>

</div>
