<p style="color: green"><%= notice %></p>

<h1>Messages</h1>

<ul>
  <% @messages.each do |message| %>
    <li><%= link_to message.subject, message %></li>
  <% end %>
</ul>

<%= link_to "New message", new_message_path %>
