<% content_for :title, @message.subject %>

<% if notice %>
  <div class="mb-4 p-4 bg-green-50 border border-green-200 text-green-800 rounded-lg">
    <%= notice %>
  </div>
<% end %>

<div class="mb-4">
  <%= link_to "â† Back to #{@message.list.name}", "/#{@message.list.name}/", class: "text-red-600 hover:text-red-800 font-medium" %>
</div>

<%= render @message %>
